*.s
*.o
lotus
a.out
*.lts.bak
*.backup
*.html
*.py
*.code-workspace
release_workflow.md
NEW_MODULE.md

# Unit tests
*_test.go

# Ignore build directories
out/
build/
tests/
test_suite/
examples/
site/
ext/
# used for testing and workflow releases
.claude/
